In [66]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [67]:
data=pd.read_csv("1. Regression - Module - (Housing Prices).csv")

In [68]:
data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [69]:
data.isnull().sum()

ID                                               0
Date House was Sold                              0
Sale Price                                       4
No of Bedrooms                                   0
No of Bathrooms                                  4
Flat Area (in Sqft)                              9
Lot Area (in Sqft)                               9
No of Floors                                     0
Waterfront View                                  0
No of Times Visited                          19489
Condition of the House                           0
Overall Grade                                    0
Area of the House from Basement (in Sqft)        3
Basement Area (in Sqft)                          0
Age of House (in Years)                          0
Renovated Year                                   0
Zipcode                                          1
Latitude                                         1
Longitude                                        1
Living Area after Renovation (in Sqft)           1
Lot Area after Renovation (in Sqft)              0
dtype: int64

In [70]:
data.dropna(subset=["Sale Price","Zipcode"],inplace=True)

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21608 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21608 non-null  int64
 1   Date House was Sold                        21608 non-null  object
 2   Sale Price                                 21608 non-null  float64
 3   No of Bedrooms                             21608 non-null  int64
 4   No of Bathrooms                            21604 non-null  float64
 5   Flat Area (in Sqft)                        21599 non-null  float64
 6   Lot Area (in Sqft)                         21599 non-null  float64
 7   No of Floors                               21608 non-null  float64
 8   Waterfront View                            21608 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21608 non-null  object
 11  Overall Grade                              21608 non-null  int64
 12  Area of the House from Basement (in Sqft)  21605 non-null  float64
 13  Basement Area (in Sqft)                    21608 non-null  int64
 14  Age of House (in Years)                    21608 non-null  int64
 15  Renovated Year                             21608 non-null  int64
 16  Zipcode                                    21608 non-null  float64
 17  Latitude                                   21607 non-null  float64
 18  Longitude                                  21607 non-null  float64
 19  Living Area after Renovation (in Sqft)     21607 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21608 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.6+ MB

In [72]:
from sklearn.impute import SimpleImputer

In [73]:
data.select_dtypes("float64").columns

Index(['Sale Price', 'No of Bathrooms', 'Flat Area (in Sqft)',
       'Lot Area (in Sqft)', 'No of Floors',
       'Area of the House from Basement (in Sqft)', 'Zipcode', 'Latitude',
       'Longitude', 'Living Area after Renovation (in Sqft)'],
      dtype='object')

In [74]:
numerical_features=[ 'Flat Area (in Sqft)',
       'Lot Area (in Sqft)', 
       'Area of the House from Basement (in Sqft)', 'Latitude',
       'Longitude', 'Living Area after Renovation (in Sqft)']

In [75]:

imputer=SimpleImputer(strategy="mean")

arr=imputer.fit_transform(data[numerical_features])

In [76]:
data[numerical_features]=arr

In [77]:
data["No of Bathrooms"].fillna(method="bfill",inplace=True)

C:\Users\PAWAN\AppData\Local\Temp\ipykernel_9380\4181855451.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["No of Bathrooms"].fillna(method="bfill",inplace=True)
C:\Users\PAWAN\AppData\Local\Temp\ipykernel_9380\4181855451.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["No of Bathrooms"].fillna(method="bfill",inplace=True)

In [78]:
data.drop(columns=["No of Times Visited"],inplace=True)

In [79]:
data.isnull().sum()

ID                                           0
Date House was Sold                          0
Sale Price                                   0
No of Bedrooms                               0
No of Bathrooms                              0
Flat Area (in Sqft)                          0
Lot Area (in Sqft)                           0
No of Floors                                 0
Waterfront View                              0
Condition of the House                       0
Overall Grade                                0
Area of the House from Basement (in Sqft)    0
Basement Area (in Sqft)                      0
Age of House (in Years)                      0
Renovated Year                               0
Zipcode                                      0
Latitude                                     0
Longitude                                    0
Living Area after Renovation (in Sqft)       0
Lot Area after Renovation (in Sqft)          0
dtype: int64

In [80]:
def year(value):
    return value.split()[-1]

data["Date House was Sold"]=data["Date House was Sold"].map(year)

In [81]:
data.head(3)

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,Condition of the House,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,Fair,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,Fair,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,2016,180000.0,2,1.00,770.0,10000.0,1.0,No,Fair,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062

In [82]:
data["Date House was Sold"]=data["Date House was Sold"].astype("int64")

In [83]:
data["Year since renovated"]=np.where(data["Renovated Year"]==0,0,abs(data["Date House was Sold"]-data["Renovated Year"]))

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21608 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21608 non-null  int64
 1   Date House was Sold                        21608 non-null  int64
 2   Sale Price                                 21608 non-null  float64
 3   No of Bedrooms                             21608 non-null  int64
 4   No of Bathrooms                            21608 non-null  float64
 5   Flat Area (in Sqft)                        21608 non-null  float64
 6   Lot Area (in Sqft)                         21608 non-null  float64
 7   No of Floors                               21608 non-null  float64
 8   Waterfront View                            21608 non-null  object
 9   Condition of the House                     21608 non-null  object
 10  Overall Grade                              21608 non-null  int64
 11  Area of the House from Basement (in Sqft)  21608 non-null  float64
 12  Basement Area (in Sqft)                    21608 non-null  int64
 13  Age of House (in Years)                    21608 non-null  int64
 14  Renovated Year                             21608 non-null  int64
 15  Zipcode                                    21608 non-null  float64
 16  Latitude                                   21608 non-null  float64
 17  Longitude                                  21608 non-null  float64
 18  Living Area after Renovation (in Sqft)     21608 non-null  float64
 19  Lot Area after Renovation (in Sqft)        21608 non-null  int64
 20  Year since renovated                       21608 non-null  int64
dtypes: float64(10), int64(9), object(2)
memory usage: 3.6+ MB

In [85]:
zipcode = pd.DataFrame(data.groupby("Zipcode")["Sale Price"].mean().sort_values())

In [86]:
zipcode

           Sale Price
Zipcode
98002.0  2.342840e+05
98168.0  2.403284e+05
98032.0  2.512962e+05
98001.0  2.808047e+05
98148.0  2.849086e+05
...               ...
98102.0  9.015162e+05
98112.0  1.096239e+06
98040.0  1.194874e+06
98004.0  1.356524e+06
98039.0  2.161300e+06

[70 rows x 1 columns]

In [87]:
zipcode["Zipcode"]=pd.cut(zipcode["Sale Price"],bins=10,labels=["zipcode_group_0",
                                                                "zipcode_group_1",
                                                                "zipcode_group_2",
                                                                "zipcode_group_3",
                                                                "zipcode_group_4",
                                                                "zipcode_group_5",
                                                                "zipcode_group_6",
                                                                "zipcode_group_7",
                                                                "zipcode_group_8",
                                                                "zipcode_group_9"],
                          include_lowest=True)

In [88]:
zipcode

           Sale Price          Zipcode
Zipcode
98002.0  2.342840e+05  zipcode_group_0
98168.0  2.403284e+05  zipcode_group_0
98032.0  2.512962e+05  zipcode_group_0
98001.0  2.808047e+05  zipcode_group_0
98148.0  2.849086e+05  zipcode_group_0
...               ...              ...
98102.0  9.015162e+05  zipcode_group_3
98112.0  1.096239e+06  zipcode_group_4
98040.0  1.194874e+06  zipcode_group_4
98004.0  1.356524e+06  zipcode_group_5
98039.0  2.161300e+06  zipcode_group_9

[70 rows x 2 columns]

In [91]:
data=pd.merge(left=data,
         right=zipcode,
         left_on="Zipcode",
        how="left",
        right_index=True
         )

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21608 entries, 0 to 21612
Data columns (total 24 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Zipcode                                    21608 non-null  float64
 1   ID                                         21608 non-null  int64
 2   Date House was Sold                        21608 non-null  int64
 3   Sale Price_x                               21608 non-null  float64
 4   No of Bedrooms                             21608 non-null  int64
 5   No of Bathrooms                            21608 non-null  float64
 6   Flat Area (in Sqft)                        21608 non-null  float64
 7   Lot Area (in Sqft)                         21608 non-null  float64
 8   No of Floors                               21608 non-null  float64
 9   Waterfront View                            21608 non-null  object
 10  Condition of the House                     21608 non-null  object
 11  Overall Grade                              21608 non-null  int64
 12  Area of the House from Basement (in Sqft)  21608 non-null  float64
 13  Basement Area (in Sqft)                    21608 non-null  int64
 14  Age of House (in Years)                    21608 non-null  int64
 15  Renovated Year                             21608 non-null  int64
 16  Zipcode_x                                  21608 non-null  float64
 17  Latitude                                   21608 non-null  float64
 18  Longitude                                  21608 non-null  float64
 19  Living Area after Renovation (in Sqft)     21608 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21608 non-null  int64
 21  Year since renovated                       21608 non-null  int64
 22  Sale Price_y                               21608 non-null  float64
 23  Zipcode_y                                  21608 non-null  category
dtypes: category(1), float64(12), int64(9), object(2)
memory usage: 4.0+ MB

In [96]:
data.head(3)

,Zipcode,ID,Date House was Sold,Sale Price_x,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,...,Age of House (in Years),Renovated Year,Zipcode_x,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Year since renovated,Sale Price_y,Zipcode_y
0,98178.0,7129300520,2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,...,63,0,98178.0,47.5112,-122.257,1340.0,5650,0,310612.755725,zipcode_group_0
1,98125.0,6414100192,2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,...,67,1991,98125.0,47.7210,-122.319,1690.0,7639,26,469485.039024,zipcode_group_1
2,98028.0,5631500400,2016,180000.0,2,1.00,770.0,10000.0,1.0,No,...,85,0,98028.0,47.7379,-122.233,2720.0,8062,0,462488.869258,zipcode_group_1

In [102]:
data.rename(columns={"Sale Price_x":"Sale Price"},inplace=True)

In [100]:
data.drop(columns=["Sale Price_y","Zipcode_x"],inplace=True)

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21608 entries, 0 to 21612
Data columns (total 22 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Zipcode                                    21608 non-null  float64
 1   ID                                         21608 non-null  int64
 2   Date House was Sold                        21608 non-null  int64
 3   Sale Price                                 21608 non-null  float64
 4   No of Bedrooms                             21608 non-null  int64
 5   No of Bathrooms                            21608 non-null  float64
 6   Flat Area (in Sqft)                        21608 non-null  float64
 7   Lot Area (in Sqft)                         21608 non-null  float64
 8   No of Floors                               21608 non-null  float64
 9   Waterfront View                            21608 non-null  object
 10  Condition of the House                     21608 non-null  object
 11  Overall Grade                              21608 non-null  int64
 12  Area of the House from Basement (in Sqft)  21608 non-null  float64
 13  Basement Area (in Sqft)                    21608 non-null  int64
 14  Age of House (in Years)                    21608 non-null  int64
 15  Renovated Year                             21608 non-null  int64
 16  Latitude                                   21608 non-null  float64
 17  Longitude                                  21608 non-null  float64
 18  Living Area after Renovation (in Sqft)     21608 non-null  float64
 19  Lot Area after Renovation (in Sqft)        21608 non-null  int64
 20  Year since renovated                       21608 non-null  int64
 21  Zipcode_y                                  21608 non-null  category
dtypes: category(1), float64(10), int64(9), object(2)
memory usage: 3.6+ MB